/*This sets the global box settings for the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

.navbar-nav a {
    justify-content: end;
}

.navbar-nav a:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.jumbotron-fluid {
    background-image:url(/css/images/DOAvatar.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    padding: 0 0 0 0;
}

a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.links a { 
    padding-left: 10px;
}