/*This sets the global box settings for the page*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/* This overrides padding from the bootstrap cards*/

.card {
    padding: 0 0 0 0;
}

/* This sets the hover effects for all links*/

a:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*This sets padding between contact me links*/

.links a { 
    padding-left: 10px;
}